MONGO_SHARD0_URI=mongodb://shard0-primary:27017,shard0-secondary:27017,shard0-secondary2:27017/?replicaSet=rs0
MONGO_SHARD1_URI=mongodb://shard1-primary:27019,shard1-secondary:27019,shard1-secondary2:27019/?replicaSet=rs1
REDIS_HOST=redis-master
REDIS_PORT=6379
REDIS_REPLICA_HOST=redis-replica
REDIS_REPLICA_PORT=6379