# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
.eggs/
dist/
build/
venv/
.venv/
env/

# Entorno
.env
.env.production

# Datos grandes (>100 MB — no permitidos por GitHub)
data/orders.csv
data/order_products__prior.csv

# Node
frontend/node_modules/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Bash
*.sh

# Deploy
/deploy

# Keys
deploy/*.pem